

<h1 class="p-5 text-center">Simple Calculator</h1>
  
  <section class="text-center">
    <label for="userInput1" class="mx-auto px-3">First Number</label>
    <input (input)="num1(val1.value)" type="text" #val1>
    <br>
    <label for="userInput2" class="mx-auto px-3">Second Number</label>
    <input (input)="num2(val2.value)" type="text" #val2>
  </section>

  <section class="text-center py-3">
    <button (click)="onClickAdd()" type="button" class="btn btn-secondary m-2">Add</button>
    <button (click)="onClickSubtract()" type="button" class="btn btn-secondary m-2">Subtract</button>
    <button (click)="onClickMultiply()" type="button" class="btn btn-secondary m-2">Multiply</button>
    <button (click)="onClickDivide()" type="button" class="btn btn-secondary m-2">Divide</button>
  </section>

  <section class="text-center">
    <label for="result">Result:</label>
    <input type="number" readonly id="result" value="NaN" class="mx-3 text-center">
  </section>